body{
    font-family: 'Monda', sans-serif;
    font-size:20px;
    text-align: center;
    margin: 0;
    /* background-color: #D7C4BB; */
}

*:focus{
    outline: none;
}

body::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a39e9e;
}

hr {
    border: 0;
    border-top: 10px solid rgb(165, 151, 145);
}

#first{
    height:100vh;
    position: relative;

    background-color: #DCDCDD;
}

#second {
    min-height: 100vh;
    background-color: #f7f7fa;
}

#third {
    min-height: 100vh;
    background-color: #DCDCDD;
}

.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-family: 'Russo One', sans-serif;
    font-size: 100px;
    padding-top: 150px;

    color:#474747;
}

#contact {
    height:35px;
    color: #4f433e;
}

a {
    color: #4f433e;
}

a:hover{
    color: #302926;
}

.mr-3 {
    margin-right:20px;
}

.mr-1 {
    margin-right:5px;
}

.ml-2 {
    margin-left:10px;
}

.mt-1{
    margin-top: 5px;
}

.mt-2{
    margin-top: 5px;
}

.mt-8 {
    margin-top: 100px;
}

.mt-5{
    margin-top: 50px;
}

.hide{
    display: none;
}

.navi_btn {
    width:250px;
    height:100px;

    border:0;
    position: relative;
    opacity: 0.8;
}

.navi_btn:hover:before{
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
}

.navi_btn:hover i{
    opacity: 0.15;
}

#education_btn{
    color:#b2998e;
    background-color:#524640;
}

#education_btn:hover{
    background-color:#b2998e;
    color: #524640;
}

#education_btn:hover:before {
    content: "EDUCATION";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#work_btn{
    color:#DCC6C6;
    background-color:rgb(116, 91, 91);
}

#work_btn:hover{
    background-color:#DCC6C6;
    color: rgb(116, 91, 91);
}

#work_btn:hover:before {
    content: "WORK EXPERIENCE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skill_btn{
    color:rgb(207, 204, 224);
    background-color:rgb(115, 110, 143);
}

#skill_btn:hover{
    background-color:rgb(207, 204, 224);
    color: rgb(115, 110, 143);
}

#skill_btn:hover:before {
    content: "TECHNICAL SKILLS";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#award_btn{
    color:#ccb0ae;
    background-color:#854e4b;
}

#award_btn:hover{
    background-color:#ccb0ae;
    color: #854e4b;
}

#award_btn:hover:before {
    content: "COMPETITION, AWARDS";
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#project_btn{
    color:#b6c3cf;
    background-color:#687c8d;
}

#project_btn:hover{
    background-color:#b6c3cf;
    color: #687c8d;
}

#project_btn:hover:before {
    content: "PROJECT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blank{
    background-color: #49494b;
    color: #49494b;
}

#first_next{
    position: absolute;
    left:50%;
    bottom:5%;
    transform: translateX(-50%);

    background-color: transparent;
    border:0;
}

#first_next i{
    color: #474747;
}

#first_next:hover i{
    color: #806d6d;
}

#message_btn {
    background-color: transparent;
    border:0;
    border-bottom: 1px solid #4f433e;

    font-family: 'Monda', sans-serif;
    font-size:20px;
}

#message_btn:hover{
    color: #806d6d;
    border-color: #806d6d;
}

.second_content {
    display:flex;
    padding:50px 0px;
}

.second_content > div{
    display: inline-block;
}

.second_title{
    font-size: 65px;
    font-weight: bold;
    width:35%;
    border-right: 2px solid rgb(0, 0, 0);
    text-align: right;
    padding:50px 80px;
}

.second_sm_content{
    width:45%;
    padding: 50px 0px;
}

.title{
    font-weight: bold;
    font-size: 35px;
}

.subtitle{
    font-size: 25px;
}

.detail_button {
    border:0;
    background-color: transparent;
    color: #4f433e;

    font-size: 23px;
    font-family: 'Monda', sans-serif;
    border-bottom: 1px solid #4f433e;
}

.detail_button:hover {
    color: #806d6d;
}

.detail_content{
    display: flex;
    justify-content: center;
}

.detail_content_width{
    width:70%;
    padding:10px;
    margin:20px 10px;
    border:2px solid #4f433e;
}

.detail_title{
    font-weight: bold;
    border-bottom: 1px solid #4f433e;
    margin-bottom: 5px;
}

.detail_content ul {
    display: inline-block;
}

.detail_content li {
    text-align: left;
}

.third_title{
    font-family: 'Russo One', sans-serif;
    font-size: 70px;
    padding-top: 50px;
    color:#474747;
}

#message_board{
    padding:30px 20px;
    /* border-bottom: 1px solid #4f433e; */
}

.input_text{
    border:2px solid #474747;
    background-color: #f7f7fa;
    height:50px;
    width:40%;
    margin-top:30px;
    font-family: 'Monda', sans-serif;
    font-size:23px;

    border-radius: 20px;
    padding:10px;
}

#message{
    height:300px;
    padding:20px;
}

.input_btn {
    background-color:#474747;
    color: #f7f7fa;
    height:50px;
    width:120px;

    font-family: 'Monda', sans-serif;
    font-size:23px;
    border:0;
    margin-top: 10px;
    margin-bottom: 100px;
}

.input_btn:hover{
    background-color: #806d6d;
}

.message_flex{
    display: flex;
    justify-content: center;
}

.message_list{
    width:40%;
    padding:25px 0px;
    margin:25px 0px;
    border-bottom: 1px solid #4f433e;
}

.message_content{
    font-size: 25px;
    text-align: left;
}

.message_last{
    text-align: right;
    margin-top: 30px;
}

.message_last div{
    display: inline-block;
}

.message_name{
    font-size: 23px;
    font-weight: bold;
}

.message_time{
    margin-left: 30px;
}

.message_image_div{
    margin-top:30px;
}

.message_image{
    max-width: 90%;
}

.custom_image_upload {
    background-color: transparent;
    border:2px solid #474747;
    color: #474747;
    height:60px;
    width:140px;
    padding:5px;
    font-family: 'Monda', sans-serif;
    font-size:23px;
}

.custom_image_upload:hover {
    color: #f7f7fa;
    background-color: #474747;
}

.image_word{
    font-size:23px;
    margin-bottom: 15px;
}

#upload_image_name{
    margin-top: 10px;
    font-size:23px;
}